.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    background-size: cover;
    height: 540px;
}

@media screen and (max-width:1100px) {
    .popup__image {
        height: 400px;
    }
}

@media screen and (max-width:769px) {
    .popup__image {
        height: 350px;
    }
}

@media screen and (max-width:650px) {
    .popup__image {
        height: 299px;
    }
}
